.header {
    background-color: #3f51b5;
    color: #fff;
}
mat-card-header{border-bottom:1px solid #D8D8D8}
mat-card-content.mat-card-content p{font-size:14px;color:#696969}
.mat-icon:hover{cursor:pointer}
.mat-card-image{display: inline-block !important;}
